doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="/jquery/dist/jquery.min.js")
  body
    div.container
      div.row
        div.col-xs-12
          block content
      div.row
        div.col-xs-12
          ul.list-inline
            if isAuthenticated
              li
                a.btn.btn-default(href="/") home
              li
                a.btn.btn-default(href="/profile") profile
              li
                a.btn.btn-warning(href="/logout") logout
      footer
        small= title
      script(src="/feature-toggle/dist/feature-toggle-client.js")
      script(src="/javascripts/feature.js")
