doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    ul
      li
        a(href="/") index
      li
        a(href="/login") login
      li
        a(href="/logout") logout
      li
        a(href="/profile") profile
    footer
      small= title
