extends layout

block content
  h1= title
  h2 Profile
  p
    | id:&nbsp;
    strong= user.id
    br
    | username:&nbsp;
    strong= user.username
    br
    | name:&nbsp;
    strong= user.displayName
