body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.twitter-button {
  display: none;
}

.ft-twitter-button .twitter-button {
  display: block;
}
