doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel="stylesheet", href="/getbase/dist/css/styles.css")
    link(rel="stylesheet", href="/css/fontello.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    div.container
      if toggles['table-flipping']
        div.row.clear.pad-top-5.pad-bottom-5.table-flipping
          div.col-12
            p.text-center (╯°□°）╯︵ ┻━┻
      div.row.clear.pad-top-5.pad-bottom-5
        div.col-12
          block content
      div.row.clear.pad-top-5.pad-bottom-5
        div.col-12
          ul.list-inline
            if isAuthenticated
              li
                a(href="/")
                  i.icon-home-1
              li
                a(href="/profile")
                  i.icon-user-1
              li
                a(href="/logout")
                  i.icon-logout
      div.row.clear.pad-top-5.pad-bottom-5
        div.col-12
          footer.text-center
            small= title
      script(src="/feature-toggle/dist/feature-toggle-client.js")
      script(src="/javascripts/feature.js")
