
.icon-plus-squared:before { content: '\e800'; } /* '' */
.icon-home-1:before { content: '\e801'; } /* '' */
.icon-minus-squared:before { content: '\e802'; } /* '' */
.icon-logout:before { content: '\e803'; } /* '' */
.icon-user-1:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-plus-circled:before { content: '\e806'; } /* '' */
.icon-minus:before { content: '\e807'; } /* '' */
.icon-minus-circled:before { content: '\e808'; } /* '' */
.icon-twitter-1:before { content: '\f309'; } /* '' */